* { line-height: 1.3;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto',Arial,sans-serif;
    color: #747474;
    
}

/* ------------------ color of selected text  ---------------------- */

::selection{
    background-color: #00b39b;
    color: white;
  }

  ::-moz-selection {
    background-color: #00b39b;
    color: white;
  }

/* ------------------ navbar ---------------------- */

.nav-menu {
    background: hsla(0,0%,100%,.98);
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow:0 -2px 10px 0 rgba(0,0,0,.15);
    top: 0;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    position: sticky;
    padding-right: 285px;
    padding-left: 250px;
   margin-left: 0;
   margin-right: 0;
   z-index: 3;

}
   
.nav-menu ul {
    display: inline-flex;
    list-style: none;
    color: #ababab;
    
    margin-top: 20px;
}
.nav-menu ul li {
padding: 0 .7em;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #ababab;
}
 .nav-menu ul :hover {
    color: #00b39b;
}
.nav-menu ul .active a{
    color: #00b39b;
}
.dropdown{
    display: none;
    
    cursor: pointer;
}
.nav-menu ul :hover .dropdown {
    display: block;
    position: absolute;
    background-color: white;
    color: #00b39b;
    margin-left: -15px;
    box-shadow: 0 5px 10px 0 #d3cfc9;

}
.nav-menu ul :hover .dropdown ul {
    display: block;
    margin: 10px;
    color: #00b39b;
}
.nav-menu ul :hover .dropdown ul li {
    width: 200px;
    padding: 10px;
    text-align: left;
    color: #00b39b;
}


.nav-menu ul :hover .dropdown ul li:hover {
    color: #00b39b;
    background-color: rgba(241, 241, 241, 0.801);
}
.logo{
    width: 268px;
    height: 33px;
    margin-top: 13px;
    margin-left: 20px;
}
.div-logo {
    align-items: center;
    margin: 3px;
}

/* ------------------ first section  ---------------------- */

.first-section {
    margin-top: 50px;
    margin-left: 260px;
    margin-right: 290px;
    display: block;
}


@media (max-width: 1000px) {
   
    .first-section {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
 }
    
    
.logo-section {
    display: flex;
  justify-content: center;
}

.title h1 {
    font-size: 2.125rem;
    font-family: 'Work Sans';
     font-weight: 300;
    color: #00b39b;
    text-align: center;
  
   justify-content: center;
    margin-top: 1em;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    
}

.sous-section p {
    padding:10px;
    line-height: 1.75;
    
}
.sous-section {
    display:inline-flex;
    justify-content: space-between;
    
  
    
}

/* ------------------ second section ---------------------- */

.second-section {
    padding: 0 20px;
    display: flex;
   margin: 2em 15em;
}

@media (max-width: 1000px) {
   
    .second-section {
        width: 100%;
        margin:1em 1em 1em 1em;
        padding: 0 20px;
    }
 }
 
.for-patients {
    
    background-color: #00ccb1;
    border-radius: 10px;
    height: auto;
    flex-direction: column;
    margin-right: 20px;
    color: white;
   
   
}
.for-patients:hover{
    background-color: rgba(0, 204, 177,0.9);;
}
.bloc1{
    justify-content: start;
    margin-top: 10px;
    align-content: center;
}
.element1{
    margin-top: 8px;
    margin-bottom: 8px;
}
.element1 h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:1.625em;
    font-weight:400;
}
.element2 h2{
    font-size:1.5em;
    font-weight:300;
    line-height:1.2;
}
.for-doctors { 
    background-color: #3d83df;
    border-radius: 10px;
    height: auto;
    flex-direction: column;
    margin-right: 20px;
    color: white;
}


.for-clinics {
    background-color: #1b2734;
    border-radius: 10px;
    height: auto;
    flex-direction: column;
  
    color: white;
    
}
.element3, .element4 {
    color: white;
    margin-top: 10px
}
select {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    font-size: large;
    color:inherit;
    margin:0;
    text-transform:none;
    border-radius: 0;
}
select:hover{
    background:none;
    color:#fff;
    cursor: pointer;
}
select option{
    font-size:1rem;
    line-height:1.2;
    color:#333
}

.content{
    padding: 30px;
}

/* ------------------ third section ---------------------- */

.third-section{
    padding: 0 20px;
    display: flex;
    justify-content:flex-end;
    margin-top: 40px;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 40px;
}

.third-section .title{
   
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}
.third-section .title p{
font-family: 'Work Sans';
font-size: 22px;
font-weight: 300;
color: #00b39b;
line-height:1.6;
width: 250px;
}

.third-section .logos ul .logo-img{
    font-size: 1rem;
    padding: 5px 0;
    width: 160px;
    align-self: baseline;
}
.third-section .logos ul li a{
    
    padding: 5px 0;
}
.logos{
    margin-left:50px;   
}

.logos ul {
    
    flex-wrap: wrap;
    display: inline-flex;
    align-content: space-between;
    align-items: center;
    font-size: 0;
    list-style: none;
   
}


svg .color{
    fill: #b8b6b6e7;
}
.logos img:hover{
    filter:none;
    opacity:1;
}
.logos svg:hover
    path{fill:#00bfa5;
}
.grayscale {
    transition:all .2s ease 0s;
    filter:invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter:invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity:.55;
}
.gipo{
width: 90px;
}

/* ------------------ fourth section ---------------------- */

.fourth-section{
    background-image: url("logo1.png"),linear-gradient( -45deg ,rgba(0,204,177,.01) 100%,rgba(61,199,223,.1));
    background-repeat:no-repeat;
   
    background-color: #e5faf8;
    background-position: 130px 280px;
    display: flex;
    display: inline-flex;
    width: 100%;
    
}


.fourth-section .part1 {
    padding-top: 75px;
    padding-left: 20px;
    margin-left: 250px;
}

.fourth-section .part1 .part1-1{
    font-size: 32px;
    color: #00b39b;
    font-weight:300;
    line-height: 1.3;
    font-family: 'Work Sans';

}
.fourth-section .part1 .part1-2 {
    padding-top: 25px;
    width: 500px;
    height: 100px;
    font-size: 14px;
    line-height: 1.7;
}
.fourth-section .part2{
    height: 600px;
    width: 550px;
    margin-top: 20px;
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;

}

.fourth-section .part2 .elem1 {
    width: 210px;
    height: 230px;
    margin-top: 25px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    align-items: center;
    margin-right: 15px;
}
.fourth-section .part2 .elem2 {
    width: 210px;
    height: 230px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    align-items: center;
    
}

.fourth-section .part2 .elem3 {
    width: 210px;
    height: 230px;
    margin-top: 25px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    align-items: center;
    margin-right: 15px;
    margin-top: -35px;
    
}
.fourth-section .part2 .elem4 {
    width: 210px;
    height: 230px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    align-items: center;
    margin-top: -55px;
}

.fourth-section .part2 img{
    margin-bottom: -15px;
}
.titre{
    font-weight: 300;
 color: #00b39b;
 font-size: 24px;
 text-align: center;
 margin-bottom: -15px;
}
.description {
    font-weight: 400;
    font-size: 13px;
    color: #747474;
    margin-bottom: 30px;
   text-align: center;
}

/* ------------------ fifth section ---------------------- */ 

.fifth-section .part1 {
    margin-top: 80px;
    margin-bottom: 20px;
}
.fifth-section .part1 .part1-1{
    font-size: 27px;
    color: #00b39b;
    font-weight:300;
    line-height: 1.3;
    text-align: center;
    font-family: 'Work Sans';
    
}
.fifth-section .part1 .part1-2 {
    padding-top: 25px;
    
    font-size: 14px;
    line-height: 1.7;
    margin-top: 20px;
    text-align: center;


}
.fifth-section{
    margin-bottom: 90px;
    margin-left: 260px;
    margin-right: 260px;
}
.fifth-section .part2 {
    margin-top: 40px;
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.part2 .city {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 9px;
   
}
.part2 a{
    text-decoration: none;
    color: #747474;
   
}

.part2 a:hover{
    box-shadow:0 20px 50px 0 rgba(0,0,0,.13);
}
.city .desc a:hover{
    box-shadow:none;
}
.desc {
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    width: 250px;
    padding: 25px;

}
.desc p{
    font-size: 1.125em;
}
.desc a{
    text-decoration: none;
}
.desc button {
    border-radius: 4px;
    height: 30px;
    width: 100px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 10px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    
}
.desc button:hover{
    color:#fff;
    background:#1662c6;
    cursor:pointer;
}
.btn{
    border-radius: 4px;
    background: #3d83df;
    height: 30px;
    width: 100px;
    font-size: 12px;
    display: flex;
    align-items: center;

}

/* ------------------ sixth section ---------------------- */ 

.sixth-section{
    margin-top: 15px;
    margin-bottom: 90px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}
.sixth-section p{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;

}
.sixth-section button{
     height: 43px;
    width: 220px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;}

.sixth-section button:hover{
        color:#fff;
        background:#1662c6;
        cursor:pointer;
    }


/* ------------------ footer ---------------------- */

footer{
    padding: 1em 0;

    border-top: 1px solid #eef2f2;
}

footer .part1{
    font-size: 12px;
    text-align: center;
    color: #ababab;
}
footer .part1 a{
   color: #3d83df;;
    text-decoration: none;
    
}
footer .part2{
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #ababab;
}
footer .copyright{
    padding-top: 5px;
    font-size: 12px;
    text-align: center;
    color: #ababab;
}

